
@font-face{
	font-family: radicalHelvetica;
	src: url(../fonts/HelveticaNeueLTCom-Th.ttf);
	
}

.radical-active{
	background-color: #3b3b3b;
}

.radical-active:hover{
	background-color: #323232;
}

.radical-add-button{
	background: transparent;
	border: none !important;
	font-size: 14px;
	color: #fff;
	width: 20px;
	
	
	float: right; 
	margin-right: 10px;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radical-add-button text{
	padding-left: 5px;
	font-size: 14px;
	font-family: radicalHelvetica;
	display: none;

	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radical-add-button:hover text{
	display: inline;
	color: #00cd96;
}

.radical-add-button:hover{
	color: #00cd96;
	width: 50px;
}

.radical-badge{
	
	min-width: 30px;
}
.radical-color-primary{
	background-color: #59ace2;
}

.radical-color-warning{
	background-color: #fcb322;
}

.radical-color-danger{
	background-color: #ff6c60;
}

.radical-color-success{
	background-color: #00cd96;
}

.radical-badge-project{
	background-color: transparent;
	color: #59ace2;
}

.radical-font{
	font-family: radicalHelvetica;
	font-style: normal;
}

.radical-font-size{
	font-size: 14px;
}



a.radical-logo{
	margin-top: 0px;
	margin-right: 20px;
}

ul.radical-top-menu > li > a {
    color: #404040;
    font-size: 16px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border:0px solid #f0f0f8 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.radical-top-menu > li > a:hover, ul.radical-top-menu > li > a:focus {
    border:0px solid #f0f0f8 !important;
    background-color: #fff!important;
    border-color: #f0f0f8 !important;
    text-decoration: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    color: #2E2E2E !important;
}

.radical-dropdown{
	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0px;
  	border: 0px;
}

.radical-header{
	background-color: #00cd96;
	border: 0px;

	margin: 0px;
	
	padding: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.radical-no-border{
	border: 0px;
}

.radical-no-margin{
	margin-top: 0px;
}

.radical-no-padding{
	padding: 0px;
}

.radical-no-round-corners{
	border-radius: 0px;
    -webkit-border-radius: 0px;
}

.radical-margin{
	margin-top: 8px;
}

.radical-search{
	margin-top: 0px;
	height: 60px;
	background: url("../img/search_icon1.png") no-repeat;
	
	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0px;
  	border: 0px;
}

.radical-search:focus{
	width: 300px;
	color: #fff;
	background-color: #006244;
	
	margin-top: 0px;
	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0px;
  	border: 0px;
}


.radical-top-nav{
	margin: 0px;
}


ul.radical-sidebar-menu{
	font-family: radicalHelvetica;
}

ul.radical-sidebar-menu li ul.sub li{
    background: #3b3b3b;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

ul.radical-sidebar-menu {
    margin-top: 60px;
}


ul.radical-sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0px;
}

ul.radical-sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

ul.radical-sidebar-menu li ul.sub li a:hover, ul.radical-sidebar-menu li ul.sub li.active a {
    color: #00cd96;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.radical-sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
    margin-top: 0px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.radical-sidebar-menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.radical-sidebar-menu li a.active, ul.radical-sidebar-menu li a:hover, ul.radical-sidebar-menu li a:focus {
    
    
    display: block;
    border-radius: 0px;
    -webkit-border-radius: 0px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.radical-sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.radical-sidebar-menu li a:hover i, ul.radical-sidebar-menu li a:focus i {
    color: #fff;
}

ul.radical-sidebar-menu li a.active i {
    color: #00cd96;
}

.radical-submenu a .submenu-text{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radical-submenu:hover{
	background-color: #494949;
}

.radical-simple-button{
	border: 0px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	background: transparent;
	color: #494949;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radical-simple-button:hover{
	background-color: #a2a2a2;
	color: #fff;
}

.radical-simple-button-active{
	border: 0px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	background-color: #494949;
	color: #fff;
}

.radical-simple-button span{
	font-size: 14px;
}

.radical-simple-button-task{
	border: 0px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 15px; 
	
	color: #fff;
	background-color: #00cd96;
	
	font-family: radicalHelvetica;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radical-simple-button-task:hover{
	background-color: #008d67;
	
}

.radical-task-header{
	border-bottom-width: 1px;
	border-bottom-color: #646464;
}

.radical-list-pin{
	margin-bottom: 10px;
	border: 1px solid;
	border-color: #d9d9d9;
	
	padding: 0px;
}

.radical-list-pin .pin-phase{
	color: #fff;

	padding: 5px;
	font-size: 11px;
	
	float: right;
	margin-right: 5px;
	
	width: 60px;
	text-align: center;
}

.radical-list-pin .pin-content{
	padding-left: 10px;
    margin-top: 0px;
	
}

.radical-list-pin .pin-content .pin-info{
	font-size: 12px;
	margin-bottom: 5px;
	
	padding-left: 10px;
}

.radical-list-pin .pin-tools{
	border: 0px;
    background-color: transparent;
	
	padding: 5px;
	
	float: right;
	margin-right: 5px;
}

.radical-color-planning{
	background-color: #ffc40d;
}

.radical-color-design{
	background-color: #ff0097;
}

.radical-color-coding{
	background-color: #2d89ef ;
}




.radical-font-planning{
	color: #ffc40d;
}

.radical-font-design{
	color: #ff0097;
}

.radical-font-coding{
	color: #2d89ef ;
}




.radical-border-planning{
	border-left: 10px solid;
	border-left-color: #ffc40d;
}

.radical-border-design{
	border-left: 10px solid;
	border-left-color: #ff0097;
}

.radical-border-coding{
	border-left: 10px solid;
	border-left-color: #2d89ef ;
}

.radical-pull-task{
	color: #fff;
	background-color: #4d4d4d;
}

.radical-no-radius-right{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
	
}

